<%- include('../parts/header.ejs') %>
<body>

<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Navbar -->
    <%- include('../parts/navbar.ejs') %>

    <!-- Sidebar Start -->
    <%- include('../parts/sidebar.ejs', {isActive : 'forms'}) %>

    <!-- Main Container Start -->
    <main class="main--container">
        <!-- Page Header Start -->
        <section class="page--header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Page Title Start -->
                        <h2 class="page--title h5">Daftar Formulir</h2>
                        <!-- Page Title End -->

                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="/form">Formulir</a></li>
                            <li class="breadcrumb-item active"><a href="/form">Daftar Formulir</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Header End -->

        <!-- Main Content Start -->
        <section class="main--content">
            <div class="panel">
                <!-- Records Header Start -->
                <div class="records--header">
                    <div class="title fa-book">
                        <h3 class="h3">Daftar Formulir</h3>
                        <p>Ditemukan total <%- totalForm %> formulir</p>
                    </div>

                    <div class="actions">
                        <form method="GET" class="search flex-wrap flex-md-nowrap justify-content-center">
                            <label class="justify-content-center d-inline-flex">
                                <span class="label-text col-lg-6 align-self-center mt-2">Tanggal Mulai</span>
                                <input type="date" class="form-control mt-0 mb-0" name="startDate"
                                       value="<%- startDate %>"
                                       min="2022-12-01" max="<%- nowDate %>">
                            </label>
                            <label class="justify-content-center d-inline-flex mt-0">
                                <span class="label-text col-lg-6 align-self-center mt-2">Tanggal Akhir</span>
                                <input type="date" class="form-control mt-0 mb-0" name="endDate"
                                       value="<%- endDate %>"
                                       min="2022-12-01" max="<%- nowDate %>">
                            </label>
                            <button type="submit" class="btn btn-rounded mt-0">TAMPILKAN</button>
                        </form>

                    </div>
                </div>
                <!-- Records Header End -->
            </div>

            <div class="panel">
                <!-- Records List Start -->
                <div class="records--list" data-title="Formulir">
                    <table id="recordsListView">
                        <thead>
                        <tr>
                            <th>Nomer RM</th>
                            <th>Sisa Makanan</th>
                            <th>Kategori</th>
                            <th>Ruangan</th>
                            <th>Auditor</th>
                            <th>Dibuat</th>
                            <th>Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% data.map(item => { %>
                            <tr>
                                <td><%= item.patientName %></td>
                                <td><%= item.foodLeft %>%</td>
                                <td>
                                    <span class="label label-<%= item.isFulfilled ? 'success' : 'danger' %>"><%= item.isFulfilled ? 'Terpenuhi' : 'Tidak Terpenuhi' %></span>
                                </td>
                                <% moment.locale('id') %>
                                <td><%= item.roomName %></td>
                                <td><%= item.auditorName %></td>
                                <td><%= moment(item.createdAt).format('LLL') %></td>
                                <td>
                                    <div class="dropleft">
                                        <a href="" class="btn-link" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>

                                        <div class="dropdown-menu">
                                            <form action="/form/<%= item._id %>/edit" method="get">
                                                <button class="dropdown-item">Ubah</button>
                                            </form>
                                            <form action="/form/<%= item._id %>/delete" method="post">
                                                <button class="dropdown-item">Hapus</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
                <!-- Records List End -->
            </div>
        </section>
        <!-- Main Content End -->

        <%- include('../parts/main-footer.ejs') %>
    </main>
    <!-- Main Container End -->
</div>
<!-- Wrapper End -->

<!-- Scripts -->
<%- include('../parts/scripts') %>
