<%- include('../parts/header.ejs') %>
<body>

<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Navbar -->
    <%- include('../parts/navbar.ejs') %>

    <!-- Sidebar Start -->
    <%- include('../parts/sidebar.ejs', {isActive : 'home-page'}) %>

    <!-- Main Container Start -->
    <main class="main--container">
        <!-- Page Header Start -->
        <section class="page--header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Page Title Start -->
                        <h2 class="page--title h5">Home</h2>
                        <!-- Page Title End -->

                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="/">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Header End -->

        <!-- Main Content Start -->
        <section class="main--content">
            <div class="row gutter-20">
                <div class="col-md-4">
                    <div class="panel">
                        <div class="miniStats--panel">
                            <div class="miniStats--header bg-darker">
                                <h3 class="panel-title text-white">KATEGORI TERPENUHI</h3>
                            </div>

                            <div class="miniStats--body">
                                <i class="miniStats--icon fa fa-money-bill-alt text-blue"></i>
                                <p class="miniStats--num text-blue">
                                    <%- fulfilled %></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel">
                        <div class="miniStats--panel">
                            <div class="miniStats--header bg-darker">
                                <h3 class="panel-title text-white">KATEGORI TIDAK TERPENUHI</h3>
                            </div>

                            <div class="miniStats--body">
                                <i class="miniStats--icon fa fa-users text-orange"></i>
                                <p class="miniStats--num text-orange"><%- notFulfilled %></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel">
                        <div class="miniStats--panel">
                            <div class="miniStats--header bg-darker">
                                <h3 class="panel-title text-white">TOTAL FORMULIR</h3>
                            </div>

                            <div class="miniStats--body">
                                <i class="miniStats--icon fa fa-users text-green"></i>
                                <p class="miniStats--num text-green"><%- sum %></p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- Main Content End -->

        <%- include('../parts/main-footer.ejs') %>
    </main>
    <!-- Main Container End -->
</div>
<!-- Wrapper End -->

<!-- Scripts -->
<%- include('../parts/scripts') %>
